.vertical-menu {
    width: 100%;
    height: 100%;
}

.vertical-menu a {
    background-color: #fbfbfb00;
    color: #4B4848;
    display: block;
    padding: 12px;
    height: 30px;
    text-decoration: none;
}

.dotted-line {
    border-bottom: 1px dotted black;
}

.strike {
    text-decoration: line-through;
}

.vertical-menu a:hover {
    background: linear-gradient(to bottom, #006699 0%, #0099cc 100%);
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.item-text-box {
    background-color: rgba(0, 0, 0, 0.20) !important;
    color: #fffafa;
    left: 6%;
    width: 90%;
    height: 54px;
    font-size: 14pt;
    position: relative;
    border: 0.1px solid #120303;
    border-radius: "5px";
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.task {
    background-color: white;
    margin-top: 10px;
    width: 350px;
    height: 45px;
    border: 0.1px solid #b1a6a6;
}

.image-background {
    background-image: url(../images/Back.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.myDiv {
    border: 2px solid #d6dadd;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-style: groove;
    width: 99%;
    font-size: 18pt;
    /* or whatever */
}

.myDiv h2 {
    padding: 4px;
    color: #0f0202;
    margin: 0;
    height: 55px;
    background-color: #dee5ea;
    font-size: 15pt;
    /* or whatever */
}

.down10px {
    margin-top: 10px;
}

.myDiv h3 {
    padding: 4px;
    color: white;
    margin: 2;
    height: 40px;
    background-color: whitesmoke;
    font-size: 20pt;
    /* or whatever */
}

.myDiv p {
    padding: 4px;
}

textarea {
    background: url(../images/textLine.png) repeat-y;
    width: 100%;
    height: 100%;
    font: normal 14px verdana;
    line-height: 25px;
    padding: 2px 10px;
    border: solid 1px #ddd;
}

.font-bold {
    font-weight: bold;
}

.bottom {
    border: 2px solid #d6dadd;
    margin-top: 115px;
    width: 100%;
    font-size: 12pt;
    /* or whatever */
}

.mar_top {
    margin-top: 48%;
}

.mar_top1 {
    margin-top: 15px;
}

.mar_l {
    margin-left: 15px;
}

.mar_left25 {
    margin-left: 25px;
}

.mar_la {
    margin-left: 352px;
}

.left-side-menu {
    clear: left;
    width: 25%;
    background-color: #7b6c6c1a;
    height: 100%;
    float: left;
    border-right-width: 10px;
}

.add_list {
    color: black;
    margin-left: 0px;
    margin-top: 20px;
}

.vertical_line {
    border-left: 1px dotted black;
    height: 20px;
}

.main-page {
    background-color: #7b6c6c1a;
    clear: right;
    width: 75%;
    height: 100%;
    float: right;
}

.items-style {
    width: 45%;
    height: 100%;
    float: left;
    padding-top: 25px;
    overflow-y: scroll;
}

.lit-color {
    color: #6D6565;
}

.text_div {
    margin-left: 25px;
    margin-top: 50px;
    width: 400px;
    height: 250px;
}

.add_task {
    margin-left: 20px;
    margin-top: 10px;
    border: 0.1px solid #b1a6a6;
    float: left;
    width: 45px;
    height: 43px;
}

.subtask-edit-style {
    background-color: white;
    border-radius: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #998f8f;
    margin-left: 15px;
    margin-top: 20px;
    width: 450px;
    height: 95%;
    float: center;
}

.item-style {
    background-color: #c0dee7;
    margin-left: 6%;
    width: 90%;
    height: 45px;
    float: left;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 10px;
}

.txt-bold {
    font-weight: bold;
}

.item-display {
    margin-left: 3%;
    margin-top: 5%;
    display: inline;
}

.item-check-box {
    margin-top: 15px;
    margin-left: 15px;
    float: left;
}

.item-highlight {
    color: #1652cc;
}

.title {
    display: inline;
    margin-top: 4%;
    margin-left: 5%;
    float: left;
}

.star-style {
    color: #71D9F8;
    vertical-align: middle;
    display: inline;
    margin-right: 5%;
    margin-top: 4%;
    float: right;
}

.square-display {
    display: inline;
    margin-top: 5%;
    margin-left: 5%;
    float: left;
}

.star-display {
    color: #71D9F8;
    display: inline;
    margin-top: 5%;
    margin-right: 5%;
    float: right;
}

.group-display {
    margin-left: 8%;
}

.dark {
    color: #F50410;
}

.light {
    color: #1652cc;
}

.due-style {
    color: #1652cc;
    vertical-align: middle;
    display: inline;
    margin-right: 10px;
    margin-top: 4%;
    float: right;
}

.list-style {
    width: 249px;
    height: 42px;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0);
    background-color: transparent;
    border: 0;
    font-size: 15px;
}
